.loader {
    width: 80px;
    height: 80px;
    transform: scale(0);
    background-color: white;
    border-radius: 50%;
    animation: pulse 1s ease-in-out 5;
    position: absolute;
}

.cadastro {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    width: 80%;
    text-shadow: 1px 1px black;
    color: white;
    top: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: subir 1.5s ease-in-out forwards, descer 1s ease-in-out 4.2s forwards;
}

.cadastro2 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    top: 200px;
    color: #2ecc71;
    font-weight: 700;
    text-shadow: 1px 1px black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: subir2 1s ease-in-out 5s forwards;
}

.box {
    overflow: hidden;
    position: relative;
    height: 90px;
    margin-top: 20%;
}

.box2 {
    margin-top: 10px;
    height: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.check-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #2ecc71;
    background-color: #2ecc71;
    display: flex;
    box-shadow: 2px 2px 5px black;
    align-items: center;
    transform: scale(0);
    justify-content: center;
    animation: pop 0.4s ease-out 5s forwards;
    overflow: hidden;
}

.checkmark {
    width: 30px;
    height: 15px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(-45deg);
    opacity: 0;
    margin-bottom: 10px;
    animation: draw 1.5s ease-out 5.4s forwards;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes subir {
    from { top: 150px; }
    to { top: 40px; }
}

@keyframes subir2 {
    from { top: 150px; }
    to { top: 40px; }
}

@keyframes descer {
    from { top: 40px; }
    to { top: 150px; }
}

@keyframes pop {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes draw {
    0% { opacity: 0; transform: rotate(-45deg) scale(0.5); }
    100% { opacity: 1; transform: rotate(-45deg) scale(1); }
}