<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Imc</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="static/css/base.css">
    {% block head %} {% endblock %}
</head>

<body class="bg-secondary">
    {% block conteudo %}

    {% endblock %}
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    {% block scripts %} {% endblock %}
</body>

</html>