{% extends 'base.html' %}

{% block head %}

<meta http-equiv="refresh" content="10; url='{{url_for('login')}}">
<link rel="stylesheet" href="static/css/confirma.css">

{% endblock %}

{% block conteudo %}

<div>
    <div class="box">
        <div class="cadastro">Estamos Realizando o seu Cadastro...</div>
        <div class="cadastro2">Cadastro Realizado com Sucesso!!!</div>
    </div>
    <div class="box2">
        <div class="loader"></div>
        <div class="check-container">
            <div class="checkmark"></div>
        </div>
    </div>
</div>

{% endblock %}