{% extends 'base.html' %}

{% block conteudo %}

<div class="container mt-4">
    <h1 class="text-center">Histórico</h1>
</div>

{% if historico == () %}
    <div class="container mb-3">
        <h1>Aqui está Vazio!!!</h1>
    </div>
{% else %}
{% for lista in historico %}
    <div class="container">
        <h2>Dia {{lista.data_historico}}</h2>
        <li>Altura: {{lista.altura}}</li>
        <li>Peso: {{lista.peso}}</li>
        <li>Imc: {{lista.imc_calculado}}</li>
        <li>Classificação: {{lista.classificacao}}</li>
    </div>
{% endfor %}
{% endif %}
<div class="container mt-2">
    <a class="btn btn-primary" href="{{url_for('painelUsuario')}}"><<< Voltar ao Painel</a>
</div>

{% endblock %}