{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="static/css/home.css">

{% endblock %}

{% block conteudo %}

<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{{url_for('home')}}"><strong>CALCULADORA DE IMC</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active btn btn-primary ms-2 text-light botao" href="{{url_for('login')}}"><strong>Login</strong></a>
                <a class="nav-link active btn btn-primary ms-2 text-light botao mt-2 mt-lg-0" href="{{url_for('cadastro')}}"><strong>Cadastrar</strong></a>
            </div>
        </div>
    </div>
</nav>
<h2 class="text-center mt-3 text-light">Faça login para calcular seu Imc!!!</h2>

{% endblock %}

<!-- 

Banco de Dados

CREATE DATABASE cadastro;

USE cadastro;

CREATE TABLE clientes (
id INT PRIMARY KEY AUTO_INCREMENT,
nome VARCHAR(100),
email VARCHAR(100),
senha VARCHAR(500)
);

CREATE TABLE historico_imc (
id_historico_imc INT PRIMARY KEY AUTO_INCREMENT,
id_cliente INT,
FOREIGN KEY(id_cliente) REFERENCES clientes(id),
altura DECIMAL(6, 2),
peso DECIMAL(6, 2),
imc_calculado DECIMAL(10, 2),
classificacao VARCHAR(100),
data_historico DATE DEFAULT(CURRENT_DATE())
);

INSERT INTO clientes (nome, email, senha) VALUES ("Ismael Silva Pinho","ismaelce@hotmail.com", "ismael12345"),
										  ("Maria do Carmo","maria1234@gmail.com","maria12345");	

SELECT * FROM clientes;

SELECT * FROM historico_imc;

DROP TABLE clientes;
 
DROP TABLE historico_imc;

DROP DATABASE cadastro;

-->