{% extends 'baseUsuario.html' %}

{% block head %}

<link rel="stylesheet" href="static/css/resultado.css">

{% endblock %}

{% block conteudo %}

<div class="container box fade_in mt-4">
    <div class="mt-2">
        <div>
            <h2 class="text-light text-center">Resultado</h2>
        </div>
        <div class="mt-4">
            <h3 class="text-light">Prezado(a) {{usuario}},</h3>
            <h3 class="text-light">Seu Imc é {{imc_calculado}},</h3>
            {% if classificacao == 'Abaixo do Peso!!!' %}
                <h3 class="text-light">Você está Classificado(a) como<span style="color: purple; text-shadow: 1px 1px black;"> {{classificacao}}</span></h3>
            {% elif classificacao == 'Sobrepeso!!!' %}
                <h3 class="text-light">Você está Classificado(a) como<span style="color: yellow; text-shadow: 1px 1px black;"> {{classificacao}}</span></h3>
            {% elif classificacao == 'Obesidade!!!' %}
                <h3 class="text-light">Você está Classificado(a) como<span style="color: red; text-shadow: 1px 1px black;"> {{classificacao}}</span></h3>
            {% else %}
                <h3 class="text-light">Você está Classificado(a) como<span style="color: green; text-shadow: 1px 1px black;"> {{classificacao}}</span></h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}